.points-section {
    max-height: 588;
    height: 100%;
    gap: 35px;
    display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 34px;
	@include tablet {
		flex-direction: column;
		&__img {
			order: 1;
		}
		&__info {
			order: 2;
		}
	}

    &__info {
        max-width: 582px;
    }

    &__title {
    @include text($ff, 700, 4.2rem, 5.5rem, $white);
    margin-bottom: 30px
    }

    &__desc {
    @include text($ff, 400, 1.4rem, 2.6rem, $white);
    margin-bottom: 30px;
    }

}

